@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsK8ah8QA-ee80d130.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsD8ah8QA-66123d0a.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsL8ah8QA-02d24d21.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsE8ah8QA-224d2154.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsI8ah8QA-9cd7d3c2.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsJ8ah8QA-922562f7.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsH8ag-701d4a64.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsK8ah8QA-ee80d130.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsD8ah8QA-66123d0a.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsL8ah8QA-02d24d21.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsE8ah8QA-224d2154.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsI8ah8QA-9cd7d3c2.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsJ8ah8QA-922562f7.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsH8ag-701d4a64.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsK8ah8QA-ee80d130.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsD8ah8QA-66123d0a.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsL8ah8QA-02d24d21.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsE8ah8QA-224d2154.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsI8ah8QA-9cd7d3c2.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsJ8ah8QA-922562f7.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsH8ag-701d4a64.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsK8ah8QA-ee80d130.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsD8ah8QA-66123d0a.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsL8ah8QA-02d24d21.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsE8ah8QA-224d2154.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsI8ah8QA-9cd7d3c2.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsJ8ah8QA-922562f7.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsH8ag-701d4a64.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsK8ah8QA-ee80d130.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsD8ah8QA-66123d0a.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsL8ah8QA-02d24d21.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsE8ah8QA-224d2154.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsI8ah8QA-9cd7d3c2.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsJ8ah8QA-922562f7.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(NGSwv5HMAFg6IuGlBNMjxLsH8ag-701d4a64.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 900;
  src: url(NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mjpgiaVi5SkK8-65ad64ec.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 900;
  src: url(NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mjpgiaXy5SkK8-5a89ca43.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 900;
  src: url(NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mjpgiaVy5SkK8-0ce5eacf.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 900;
  src: url(NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mjpgiaWC5SkK8-6424c1b9.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 900;
  src: url(NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mjpgiaVC5SkK8-c548b49e.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 900;
  src: url(NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mjpgiaVS5SkK8-a2010538.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 900;
  src: url(NGSnv5HMAFg6IuGlBNMjxJEL2VmU3NS7Z2mjpgiaWy5S-ba2d11a4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face { font-family: "Inter"; src: url("hyOgCu0Xnghbimh0pE8QTvtt2AU-58bbd522.woff2"); font-display: swap; font-style: normal; font-weight: 600; unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F }
@font-face { font-family: "Inter"; src: url("NeGmSOXrPBfEFIy5YZeHq17LEDA-dbba5ba0.woff2"); font-display: swap; font-style: normal; font-weight: 600; unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116 }
@font-face { font-family: "Inter"; src: url("oYaAX5himiTPYuN8vLWnqBbfD2s-8a68bcee.woff2"); font-display: swap; font-style: normal; font-weight: 600; unicode-range: U+1F00-1FFF }
@font-face { font-family: "Inter"; src: url("lEJLP4R0yuCaMCjSXYHtJw72M-a8071e6b.woff2"); font-display: swap; font-style: normal; font-weight: 600; unicode-range: U+0370-03FF }
@font-face { font-family: "Inter"; src: url("cRJyLNuTJR5jbyKzGi33wU9cqIQ-44c62d91.woff2"); font-display: swap; font-style: normal; font-weight: 600; unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF }
@font-face { font-family: "Inter"; src: url("yDtI2UI8XcEg1W2je9XPN3Noo-a113a1cb.woff2"); font-display: swap; font-style: normal; font-weight: 600; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("A0Wcc7NgXMjUuFdquHDrIZpzZw0-619644a6.woff2"); font-display: swap; font-style: normal; font-weight: 600; unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB }
@font-face { font-family: "Inter"; src: url("5vvr9Vy74if2I6bQbJvbw7SY1pQ-197dd743.woff2"); font-display: swap; font-style: normal; font-weight: 400; unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F }
@font-face { font-family: "Inter"; src: url("EOr0mi4hNtlgWNn9if640EZzXCo-f3fd0185.woff2"); font-display: swap; font-style: normal; font-weight: 400; unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116 }
@font-face { font-family: "Inter"; src: url("Y9k9QrlZAqio88Klkmbd8VoMQc-bb12e146.woff2"); font-display: swap; font-style: normal; font-weight: 400; unicode-range: U+1F00-1FFF }
@font-face { font-family: "Inter"; src: url("OYrD2tBIBPvoJXiIHnLoOXnY9M-ea808fe7.woff2"); font-display: swap; font-style: normal; font-weight: 400; unicode-range: U+0370-03FF }
@font-face { font-family: "Inter"; src: url("JeYwfuaPfZHQhEG8U5gtPDZ7WQ-418c934c.woff2"); font-display: swap; font-style: normal; font-weight: 400; unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF }
@font-face { font-family: "Inter"; src: url("GrgcKwrN6d3Uz8EwcLHZxwEfC4-d2835f64.woff2"); font-display: swap; font-style: normal; font-weight: 400; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("b6Y37FthZeALduNqHicBT6FutY-22b5f26f.woff2"); font-display: swap; font-style: normal; font-weight: 400; unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB }
@font-face { font-family: "Inter"; src: url("1ZFS7N918ojhhd0nQWdj3jz4w-e54ea5c4.woff2"); font-display: swap; font-style: normal; font-weight: 600; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("5A3Ce6C9YYmCjpQx9M4inSaKU-94357736.woff2"); font-display: swap; font-style: normal; font-weight: 500; unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F }
@font-face { font-family: "Inter"; src: url("Qx95Xyt0Ka3SGhinnbXIGpEIyP4-96126f2d.woff2"); font-display: swap; font-style: normal; font-weight: 500; unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116 }
@font-face { font-family: "Inter"; src: url("6mJuEAguuIuMog10gGvH5d3cl8-d672e61e.woff2"); font-display: swap; font-style: normal; font-weight: 500; unicode-range: U+1F00-1FFF }
@font-face { font-family: "Inter"; src: url("xYYWaj7wCU5zSQH0eXvSaS19wo-af51674a.woff2"); font-display: swap; font-style: normal; font-weight: 500; unicode-range: U+0370-03FF }
@font-face { font-family: "Inter"; src: url("otTaNuNpVK4RbdlT7zDDdKvQBA-c95a8277.woff2"); font-display: swap; font-style: normal; font-weight: 500; unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF }
@font-face { font-family: "Inter"; src: url("UjlFhCnUjxhNfep4oYBPqnEssyo-2ba1c0d5.woff2"); font-display: swap; font-style: normal; font-weight: 500; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("DolVirEGb34pEXEp8t8FQBSK4-0c3a17ff.woff2"); font-display: swap; font-style: normal; font-weight: 500; unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB }
@font-face { font-family: "Inter"; src: url("NXxvFRoY5LDh3yCm7MEP2jqYk-c48c3799.woff2"); font-style: normal; font-weight: 100; unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F }
@font-face { font-family: "Inter"; src: url("5CcgcVyoWSqO1THBiISd6oCog-6ebc9716.woff2"); font-style: normal; font-weight: 100; unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116 }
@font-face { font-family: "Inter"; src: url("MF544SVCvk3yNpLIz3pwDXFZPKM-14a7e386.woff2"); font-style: normal; font-weight: 100; unicode-range: U+1F00-1FFF }
@font-face { font-family: "Inter"; src: url("TNtxudDBkAm2RXdtU3rvTBwoM-2bb1cf77.woff2"); font-style: normal; font-weight: 100; unicode-range: U+0370-03FF }
@font-face { font-family: "Inter"; src: url("fIabp4VN5z7iJ3lNOz9qfNeQHc-cea09228.woff2"); font-style: normal; font-weight: 100; unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF }
@font-face { font-family: "Inter"; src: url("8kSLqTnVCEtjx0nu8PxTD4Nh5UU-6123f83f.woff2"); font-style: normal; font-weight: 100; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("9iRSYClnXA0RMygyIn6yjjWXJw-2d31591f.woff2"); font-style: normal; font-weight: 100; unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB }
@font-face { font-family: "Inter"; src: url("MVhJhYeDWxeyqT939zMNyw9p8-ad2d59e8.woff2"); font-style: normal; font-weight: 200; unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F }
@font-face { font-family: "Inter"; src: url("WXQXYfAQJIi2pCJACAfWWXfIDqI-883ce68f.woff2"); font-style: normal; font-weight: 200; unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116 }
@font-face { font-family: "Inter"; src: url("RJeJJARdrtNUtic58kOz7hIgBuE-0b0fb012.woff2"); font-style: normal; font-weight: 200; unicode-range: U+1F00-1FFF }
@font-face { font-family: "Inter"; src: url("4hBRAuM02i3fsxYDzyNvt5Az2so-aea93f4b.woff2"); font-style: normal; font-weight: 200; unicode-range: U+0370-03FF }
@font-face { font-family: "Inter"; src: url("fz1JbBffNGgK7BNUI1mmbFBlgA8-6552ccc1.woff2"); font-style: normal; font-weight: 200; unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF }
@font-face { font-family: "Inter"; src: url("Z4sGWU2OKBoXPWulb5P25vULA-f81ecb9b.woff2"); font-style: normal; font-weight: 200; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("eIZyQwIlHYR0mnMSneEDMtqBPgw-e7a4877e.woff2"); font-style: normal; font-weight: 200; unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB }
@font-face { font-family: "Inter"; src: url("BkDpl4ghaqvMi1btKFyG2tdbec-a30bf0bd.woff2"); font-display: swap; font-style: normal; font-weight: 300; unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F }
@font-face { font-family: "Inter"; src: url("zAMK70AQRFSShJgUiaR5IiIhgzk-b14c2fe0.woff2"); font-display: swap; font-style: normal; font-weight: 300; unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116 }
@font-face { font-family: "Inter"; src: url("IETjvc5qzUaRoaruDpPSwCUM8-4c7a8beb.woff2"); font-display: swap; font-style: normal; font-weight: 300; unicode-range: U+1F00-1FFF }
@font-face { font-family: "Inter"; src: url("oLCoaT3ioA0fHdJnWR9W6k7NY-6ee1ef16.woff2"); font-display: swap; font-style: normal; font-weight: 300; unicode-range: U+0370-03FF }
@font-face { font-family: "Inter"; src: url("Sj0PCHQSBjFmEp6NBWg6FNaKc-2f8d0333.woff2"); font-display: swap; font-style: normal; font-weight: 300; unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF }
@font-face { font-family: "Inter"; src: url("aqiiD4LUKkKzXdjGL5UzHq8bo5w-47c7baa3.woff2"); font-display: swap; font-style: normal; font-weight: 300; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("H4TfENUY1rh8R9UaSD6vngjJP3M-62324df1.woff2"); font-display: swap; font-style: normal; font-weight: 300; unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB }
@font-face { font-family: "Inter"; src: url("DpPBYI0sL4fYLgAkX8KXOPVt7c-9f76c3a5.woff2"); font-display: swap; font-style: normal; font-weight: 700; unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F }
@font-face { font-family: "Inter"; src: url("4RAEQdEOrcnDkhHiiCbJOw92Lk-3be39f5d.woff2"); font-display: swap; font-style: normal; font-weight: 700; unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116 }
@font-face { font-family: "Inter"; src: url("1K3W8DizY3v4emK8Mb08YHxTbs-be91894f.woff2"); font-display: swap; font-style: normal; font-weight: 700; unicode-range: U+1F00-1FFF }
@font-face { font-family: "Inter"; src: url("tUSCtfYVM1I1IchuyCwz9gDdQ-974fd13b.woff2"); font-display: swap; font-style: normal; font-weight: 700; unicode-range: U+0370-03FF }
@font-face { font-family: "Inter"; src: url("VgYFWiwsAC5OYxAycRXXvhze58-b6c83878.woff2"); font-display: swap; font-style: normal; font-weight: 700; unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF }
@font-face { font-family: "Inter"; src: url("syRNPWzAMIrcJ3wIlPIP43KjQs-452fe160.woff2"); font-display: swap; font-style: normal; font-weight: 700; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("GIryZETIX4IFypco5pYZONKhJIo-bcff39a6.woff2"); font-display: swap; font-style: normal; font-weight: 700; unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB }
@font-face { font-family: "Inter"; src: url("PONfPc6h4EPYwJliXQBmjVx7QxI-22d16d76.woff2"); font-display: swap; font-style: normal; font-weight: 800; unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F }
@font-face { font-family: "Inter"; src: url("zsnJN7Z1wdzUvepJniD3rbvJIyU-d88565d8.woff2"); font-display: swap; font-style: normal; font-weight: 800; unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116 }
@font-face { font-family: "Inter"; src: url("UrzZBOy7RyJEWAZGduzOeHiHuY-f777c447.woff2"); font-display: swap; font-style: normal; font-weight: 800; unicode-range: U+1F00-1FFF }
@font-face { font-family: "Inter"; src: url("996sR9SfSDuYELz8oHhDOcErkY-3537dcd6.woff2"); font-display: swap; font-style: normal; font-weight: 800; unicode-range: U+0370-03FF }
@font-face { font-family: "Inter"; src: url("ftN1HpyPVJEoEb4q36SOrNdLXU-f0a8c26a.woff2"); font-display: swap; font-style: normal; font-weight: 800; unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF }
@font-face { font-family: "Inter"; src: url("Mput0MSwESKlJ6TMz9MPDXhgrk-8f040d71.woff2"); font-display: swap; font-style: normal; font-weight: 800; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("JAur4lGGSGRGyrFi59JSIKqVgU-a83d4920.woff2"); font-display: swap; font-style: normal; font-weight: 800; unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB }
@font-face { font-family: "Inter"; src: url("mkY5Sgyq51ik0AMrSBwhm9DJg-494370e4.woff2"); font-style: normal; font-weight: 900; unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F }
@font-face { font-family: "Inter"; src: url("X5hj6qzcHUYv7h1390c8Rhm6550-98e006a7.woff2"); font-style: normal; font-weight: 900; unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116 }
@font-face { font-family: "Inter"; src: url("gQhNpS3tN86g8RcVKYUUaKt2oMQ-d5262035.woff2"); font-style: normal; font-weight: 900; unicode-range: U+1F00-1FFF }
@font-face { font-family: "Inter"; src: url("cugnVhSraaRyANCaUtI5FV17wk-146bdc56.woff2"); font-style: normal; font-weight: 900; unicode-range: U+0370-03FF }
@font-face { font-family: "Inter"; src: url("5HcVoGak8k5agFJSaKa4floXVu0-bc2a9cee.woff2"); font-style: normal; font-weight: 900; unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF }
@font-face { font-family: "Inter"; src: url("rZ5DdENNqIdFTIyQQiP5isO7M-6fb1254a.woff2"); font-style: normal; font-weight: 900; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("P2Bw01CtL0b9wqygO0sSVogWbo-f6380e18.woff2"); font-style: normal; font-weight: 900; unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB }
@font-face { font-family: "Inter"; src: url("YJsHMqeEm0oDHuxRTVCwg5eZuo-c61b3fdf.woff2"); font-style: italic; font-weight: 100; unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F }
@font-face { font-family: "Inter"; src: url("oJJMyJlDykMObEyb5VexHSxd24-56ebfd30.woff2"); font-style: italic; font-weight: 100; unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116 }
@font-face { font-family: "Inter"; src: url("IpeaX0WzLaonj68howNZg4SJJaY-79786bca.woff2"); font-style: italic; font-weight: 100; unicode-range: U+1F00-1FFF }
@font-face { font-family: "Inter"; src: url("KCj1bV3vDXY5OLHttTeRYcu9J8-c8f30172.woff2"); font-style: italic; font-weight: 100; unicode-range: U+0370-03FF }
@font-face { font-family: "Inter"; src: url("biaVHhOprxbHaR3dIP7Z8cYurHg-5b1424ba.woff2"); font-style: italic; font-weight: 100; unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF }
@font-face { font-family: "Inter"; src: url("3on0VNjjmogkq1f9ziKFcrY72MI-5388037b.woff2"); font-style: italic; font-weight: 100; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("gNa011yWpVpNFgUhhSlDX8nUiPQ-30f3c5e8.woff2"); font-style: italic; font-weight: 100; unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB }
@font-face { font-family: "Inter"; src: url("vpq17U0WM26sBGHgq9jnrUmUf8-9088a200.woff2"); font-style: italic; font-weight: 200; unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F }
@font-face { font-family: "Inter"; src: url("bNYh7lNMEpOegeRYAtyGel1WqBE-dfbf0ec9.woff2"); font-style: italic; font-weight: 200; unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116 }
@font-face { font-family: "Inter"; src: url("FBzcXZYmdulcZC0z278U6o0cw-547666a1.woff2"); font-style: italic; font-weight: 200; unicode-range: U+1F00-1FFF }
@font-face { font-family: "Inter"; src: url("ua60IRqWK94xCrq0SC639Hbsdjg-d664e7c3.woff2"); font-style: italic; font-weight: 200; unicode-range: U+0370-03FF }
@font-face { font-family: "Inter"; src: url("Pd8gNPn2dSCh4FyjWFw9PJysoQ-0f7d4579.woff2"); font-style: italic; font-weight: 200; unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF }
@font-face { font-family: "Inter"; src: url("6OdIurwS6YHsVW2i5fR5CKn0gg-a661cf8d.woff2"); font-style: italic; font-weight: 200; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("DtVQjTG8OGGKnwKYrMHRZVCyo-5f192b37.woff2"); font-style: italic; font-weight: 200; unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB }
@font-face { font-family: "Inter"; src: url("YYB6GZmCWnZq3RWZOghuZIOxQY-f8257bd2.woff2"); font-display: swap; font-style: italic; font-weight: 300; unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F }
@font-face { font-family: "Inter"; src: url("miJTzODdiyIr3tRo9KEoqXXk2PM-4ab3cf1b.woff2"); font-display: swap; font-style: italic; font-weight: 300; unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116 }
@font-face { font-family: "Inter"; src: url("6ZMhcggRFfEfbf7lncCpaUbA-7af8ac8b.woff2"); font-display: swap; font-style: italic; font-weight: 300; unicode-range: U+1F00-1FFF }
@font-face { font-family: "Inter"; src: url("8sCN6PGUr4I8q5hC5twAXfcwqV0-abfa8a17.woff2"); font-display: swap; font-style: italic; font-weight: 300; unicode-range: U+0370-03FF }
@font-face { font-family: "Inter"; src: url("aUYDUTztS7anQw5JuwCncXeLOBY-ffaff4c9.woff2"); font-display: swap; font-style: italic; font-weight: 300; unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF }
@font-face { font-family: "Inter"; src: url("8mwKwShtYEXIZ5diRBT74yn9jdQ-4276b86d.woff2"); font-display: swap; font-style: italic; font-weight: 300; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("yDiPvYxioBHsicnYxpPW35WQmx8-3d4b5b50.woff2"); font-display: swap; font-style: italic; font-weight: 300; unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB }
@font-face { font-family: "Inter"; src: url("CfMzU8w2e7tHgF4T4rATMPuWosA-fb0edde2.woff2"); font-display: swap; font-style: italic; font-weight: 400; unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F }
@font-face { font-family: "Inter"; src: url("867QObYax8ANsfX4TGEVU9YiCM-1a94ddb4.woff2"); font-display: swap; font-style: italic; font-weight: 400; unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116 }
@font-face { font-family: "Inter"; src: url("Oyn2ZbENFdnW7mt2Lzjk1h9Zb9k-4bca00b7.woff2"); font-display: swap; font-style: italic; font-weight: 400; unicode-range: U+1F00-1FFF }
@font-face { font-family: "Inter"; src: url("cdAe8hgZ1cMyLu9g005pAW3xMo-b3ddf3f2.woff2"); font-display: swap; font-style: italic; font-weight: 400; unicode-range: U+0370-03FF }
@font-face { font-family: "Inter"; src: url("DOfvtmE1UplCq161m6Hj8CSQYg-90f4958b.woff2"); font-display: swap; font-style: italic; font-weight: 400; unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF }
@font-face { font-family: "Inter"; src: url("pKRFNWFoZl77qYCAIp84lN1h944-c55f5a8a.woff2"); font-display: swap; font-style: italic; font-weight: 400; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("tKtBcDnBMevsEEJKdNGhhkLzYo-3fa31ede.woff2"); font-display: swap; font-style: italic; font-weight: 400; unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB }
@font-face { font-family: "Inter"; src: url("khkJkwSL66WFg8SX6Wa726c-99b8d918.woff2"); font-display: swap; font-style: italic; font-weight: 500; unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F }
@font-face { font-family: "Inter"; src: url("0E7IMbDzcGABpBwwqNEt60wU0w-2ffdfaac.woff2"); font-display: swap; font-style: italic; font-weight: 500; unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116 }
@font-face { font-family: "Inter"; src: url("NTJ0nQgIF0gcDelS14zQ9NR9Q-48ac8647.woff2"); font-display: swap; font-style: italic; font-weight: 500; unicode-range: U+1F00-1FFF }
@font-face { font-family: "Inter"; src: url("QrcNhgEPfRl0LS8qz5Ln8olanl8-e1611c94.woff2"); font-display: swap; font-style: italic; font-weight: 500; unicode-range: U+0370-03FF }
@font-face { font-family: "Inter"; src: url("JEXmejW8mXOYMtt0hyRg811kHac-c2bfacca.woff2"); font-display: swap; font-style: italic; font-weight: 500; unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF }
@font-face { font-family: "Inter"; src: url("Bo5CNzBv77CafbxOtKIkpw9egw-7d69d70e.woff2"); font-display: swap; font-style: italic; font-weight: 500; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("uy9s0iWuxiNnVt8EpTI3gzohpwo-bd8884f7.woff2"); font-display: swap; font-style: italic; font-weight: 500; unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB }
@font-face { font-family: "Inter"; src: url("vxBnBhH8768IFAXAb4Qf6wQHKs-45d9a976.woff2"); font-display: swap; font-style: italic; font-weight: 600; unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F }
@font-face { font-family: "Inter"; src: url("zSsEuoJdh8mcFVk976C05ZfQr8-05aecd81.woff2"); font-display: swap; font-style: italic; font-weight: 600; unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116 }
@font-face { font-family: "Inter"; src: url("b8ezwLrN7h2AUoPEENcsTMVJ0-47619b84.woff2"); font-display: swap; font-style: italic; font-weight: 600; unicode-range: U+1F00-1FFF }
@font-face { font-family: "Inter"; src: url("mvNEIBLyHbscgHtwfsByjXUz3XY-0af6cca0.woff2"); font-display: swap; font-style: italic; font-weight: 600; unicode-range: U+0370-03FF }
@font-face { font-family: "Inter"; src: url("6FI2EneKzM3qBy5foOZXey7coCA-88e3ebff.woff2"); font-display: swap; font-style: italic; font-weight: 600; unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF }
@font-face { font-family: "Inter"; src: url("fuyXZpVvOjq8NesCOfgirHCWyg-e81c47b9.woff2"); font-display: swap; font-style: italic; font-weight: 600; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("NHHeAKJVP0ZWHk5YZnQQChIsBM-d7bab7a3.woff2"); font-display: swap; font-style: italic; font-weight: 600; unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB }
@font-face { font-family: "Inter"; src: url("H89BbHkbHDzlxZzxi8uPzTsp90-e1fb1f69.woff2"); font-display: swap; font-style: italic; font-weight: 700; unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F }
@font-face { font-family: "Inter"; src: url("u6gJwDuwB143kpNK1T1MDKDWkMc-bba4fadd.woff2"); font-display: swap; font-style: italic; font-weight: 700; unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116 }
@font-face { font-family: "Inter"; src: url("43sJ6MfOPh1LCJt46OvyDuSbA6o-8e7d41d9.woff2"); font-display: swap; font-style: italic; font-weight: 700; unicode-range: U+1F00-1FFF }
@font-face { font-family: "Inter"; src: url("wccHG0r4gBDAIRhfHiOlq6oEkqw-7b05451f.woff2"); font-display: swap; font-style: italic; font-weight: 700; unicode-range: U+0370-03FF }
@font-face { font-family: "Inter"; src: url("WZ367JPwf9bRW6LdTHN8rXgSjw-78f4b801.woff2"); font-display: swap; font-style: italic; font-weight: 700; unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF }
@font-face { font-family: "Inter"; src: url("ia3uin3hQWqDrVloC1zEtYHWw-7342a847.woff2"); font-display: swap; font-style: italic; font-weight: 700; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("2A4Xx7CngadFGlVV4xrO06OBHY-be47bff5.woff2"); font-display: swap; font-style: italic; font-weight: 700; unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB }
@font-face { font-family: "Inter"; src: url("if4nAQEfO1l3iBiurvlUSTaMA-1da682dd.woff2"); font-display: swap; font-style: italic; font-weight: 800; unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F }
@font-face { font-family: "Inter"; src: url("GdJ7SQjcmkU1sz7lk5lMpKUlKY-6522b81d.woff2"); font-display: swap; font-style: italic; font-weight: 800; unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116 }
@font-face { font-family: "Inter"; src: url("sOA6LVskcCqlqggyjIZe0Zh39UQ-2ffe5123.woff2"); font-display: swap; font-style: italic; font-weight: 800; unicode-range: U+1F00-1FFF }
@font-face { font-family: "Inter"; src: url("zUCSsMbWBcHOQoATrhsPVigkc-fb02ad32.woff2"); font-display: swap; font-style: italic; font-weight: 800; unicode-range: U+0370-03FF }
@font-face { font-family: "Inter"; src: url("6eYp9yIAUvPZY7o0yfI4e2OP6g-cfea620e.woff2"); font-display: swap; font-style: italic; font-weight: 800; unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF }
@font-face { font-family: "Inter"; src: url("8AYN209PzikkmqPEbOGJlpgu6M-fe8ac46e.woff2"); font-display: swap; font-style: italic; font-weight: 800; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("L9nHaKi7ULzGWchEehsfwttxOwM-61152bad.woff2"); font-display: swap; font-style: italic; font-weight: 800; unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB }
@font-face { font-family: "Inter"; src: url("05KsVHGDmqXSBXM4yRZ65P8i0s-aaed3c06.woff2"); font-style: italic; font-weight: 900; unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F }
@font-face { font-family: "Inter"; src: url("ky8ovPukK4dJ1Pxq74qGhOqCYI-7047bd4c.woff2"); font-style: italic; font-weight: 900; unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116 }
@font-face { font-family: "Inter"; src: url("vvNSqIj42qeQ2bvCRBIWKHscrc-cfa0a2ea.woff2"); font-style: italic; font-weight: 900; unicode-range: U+1F00-1FFF }
@font-face { font-family: "Inter"; src: url("3ZmXbBKToJifDV9gwcifVd1tEY-d4935401.woff2"); font-style: italic; font-weight: 900; unicode-range: U+0370-03FF }
@font-face { font-family: "Inter"; src: url("FNfhX3dt4ChuLJq2PwdlxHO7PU-6c8a1019.woff2"); font-style: italic; font-weight: 900; unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF }
@font-face { font-family: "Inter"; src: url("gcnfba68tfm7qAyrWRCf9r34jg-443ebd64.woff2"); font-style: italic; font-weight: 900; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("efTfQcBJ53kM2pB1hezSZ3RDUFs-eb965eb5.woff2"); font-style: italic; font-weight: 900; unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB }

@font-face { font-family: "Inter"; src: url("vQyevYAyHtARFwPqUzQGpnDs-776ea07d.woff2"); font-display: swap; font-style: normal; font-weight: 400; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("DXD0Q7LSl7HEvDzucnyLnGBHM-098848e1.woff2"); font-display: swap; font-style: normal; font-weight: 700; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("QxmhnWTzLtyjIiZcfaLIJ8EFBXU-cc75eb32.woff2"); font-display: swap; font-style: italic; font-weight: 700; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("vFzuJY0c65av44uhEKB6vyjFMg-9b3d822d.woff2"); font-display: swap; font-style: italic; font-weight: 400; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter"; src: url("d3tHnaQIAeqiE5hGcRw4mmgWYU-4ac3c1c0.woff2"); font-display: swap; font-style: normal; font-weight: 500; unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD }
@font-face { font-family: "Inter Tight Placeholder"; src: local("Arial"); ascent-override: 99.65%; descent-override: 24.81%; line-gap-override: 0.00%; size-adjust: 97.21% }
@font-face { font-family: "Inter Placeholder"; src: local("Arial"); ascent-override: 89.79%; descent-override: 22.36%; line-gap-override: 0.00%; size-adjust: 107.89% }

